@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  :root {
    /* --screen-sm: 640px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1280px;
    --screen-2xl: 1536px; */

    --background: transparent;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --color-warning: rgb(255, 90, 0);
    --color-js-icon: rgb(255, 204, 0);
    --color-preview-icon: rgb(88, 101, 242);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 222.2 84% 4.9%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --sidebar-width: 4rem;
    --topbar-width: 3rem;
    --footerbar-width: 1.5rem;
    --tab-lable-height: 34px;

    --radius: 0.4rem;
    --grey: 210, 16.67%, 35%;

    --custom-accent: rgb(10, 191, 83);
    --custom-accent-info: #01baef;
    --custom-font-xxs: 0.65rem;
    --custom-prettify-height: 32px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --custom-accent-code: 210, 100%, 4.7%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --code-variable: #2277ff;
    --code-property: #9966b8;
    --code-reserved: #225588;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --grey: 0, 0%, 75%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  .embed-iframe {
    @apply bg-transparent;
    
    --background: transparent;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --color-warning: rgb(255, 90, 0);
    --color-js-icon: rgb(255, 204, 0);
    --color-preview-icon: rgb(88, 101, 242);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 222.2 84% 4.9%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --sidebar-width: 4rem;
    --topbar-width: 3rem;
    --footerbar-width: 1.5rem;
    --tab-lable-height: 34px;
    --radius: 0.4rem;
    --grey: 210, 16.67%, 35%;
    --custom-accent: rgb(10, 191, 83);
    --custom-accent-info: #01baef;
    --custom-font-xxs: 0.65rem;
  }

  :is(:root, .embed-iframe) {
    @apply border-border;
  }
  
  :is(:root, .embed-iframe) body {
    @apply bg-background text-foreground;
    background-color: hsl(var(--background));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: hsl(var(--background));
  }
}

.adyen-checkout__payment-method {
  @apply !bg-code border !border-border rounded-lg;
}
.adyen-checkout__label__text {
  @apply !text-foreground;
}
.adyen-checkout__payment-method__name {
  @apply !text-foreground;
}

.cm-theme {
  @apply w-[100%] h-[100%];
}

/* main, nav {
  @apply max-w-6xl mx-auto my-12;
}
p {
  @apply mt-20;
}
h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}
h2 {
  @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
} */
